# -------------------------------------
# ENVIRONMENTS AND DEPENDENCIES
# -------------------------------------
.env
.env.*
venv/
.venv/
env/
ENV/
list/
backend/lib/
backend/include/
backend/bin/
backend/pyvenv.cfg
backend/**/site-packages/
**/lib/
**/Lib/
**/include/
**/Include/
**/bin/
**/Scripts/
**/pyvenv.cfg
**/site-packages/

# -------------------------------------
# PYTHON COMPILED FILES
# -------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------------
# TESTING / COVERAGE
# -------------------------------------
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/

# -------------------------------------
# IDE FILES
# -------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------------------------
# OTHER TEMP FILES
# -------------------------------------
*.log
*.db
*.sqlite3
*.tmp
